<h1>
    ng4-clock
</h1>
<div class="first-section">
    <div class="analogic-clock">
        <div class="clock">
            <div id="hourArrow" class="hour"></div>
            <div id="minArrow" class="min"></div>
            <div id="secondArrow" class="second"></div>
        </div>
    </div>
</div>
<div class="digital-clock">
    <div class="digits">
        <div class="under-card"></div>
        <div id="cardHours" class="card">
            <div class="cardContent">
                <div class="digit">{{ formatDigit(hours) }}</div>
            </div>
        </div>
        <div class="under-card"></div>
        <div id="cardMins" class="card">
            <div class="cardContent">
                <div class="digit">{{ formatDigit(minutes) }}</div>
            </div>
        </div>
        <div class="under-card"></div>
        <div id="cardSeconds" class="card">
            <div class="cardContent">
                <div class="digit">{{ formatDigit(seconds) }}</div>
            </div>
        </div>
    </div>
</div>